{
  "token": "YOUR_BOT_TOKEN_HERE",
  "clientId": "YOUR_BOT_CLIENT_ID",
  "guildId": "YOUR_GUILD_ID",
  "apiUrl": "http://localhost:8080",
  "gameApiUrl": "http://localhost:3000",
  "gameServer": {
    "ip": "176.100.37.91",
    "port": 30259
  },
  "adminUserIds": ["YOUR_DISCORD_USER_ID"],
  "webhookUrl": ""
}
